In [1]:
import numpy as np
import pandas as pd
from os.path import join
import os

In [4]:
regions = ['borde_rural', 'borde_soacha', 'mixco_1_and_ebenezer', 'mixco_3', 'dennery']

In [9]:

columns = ['id']
df_ids = pd.DataFrame(columns=columns)
for region in regions:
    test_dir = join('..', '..', 'data', region, 'roofs_test')
    # Initialize a dataframe for the features    
    

    # Walk through all images
    for root, dirs, files in os.walk(test_dir):
        for file in files:
            img_fp = join(root, file)
            id = file.split('.')[0]
            df_ids = df_ids.append({'id': id}, ignore_index=True)

In [10]:
df_ids.shape

(7315, 1)

In [12]:
import pickle
pickle_path = join('..', '..', 'pickles')
with open(join(pickle_path, 'final.pkl'), 'rb') as f:
    final = pickle.load(f)

In [23]:
s1 = pd.merge(final, df_ids, how='right', on=['id'])

In [26]:
final.append(df_ids).drop_duplicates('id', keep=False)

,concrete_cement,healthy_metal,id,incomplete,irregular_metal,other
0,0.25,0.25,7a4cb770,0.25,0.25,0.25
1,0.25,0.25,7a4715fe,0.25,0.25,0.25
2,0.25,0.25,7a4b8850,0.25,0.25,0.25
3,0.25,0.25,7a451c90,0.25,0.25,0.25
4,0.25,0.25,7a4efc74,0.25,0.25,0.25
5,0.25,0.25,7a4d32b8,0.25,0.25,0.25
6,0.25,0.25,7a4ec4ac,0.25,0.25,0.25
7,0.25,0.25,7a46856c,0.25,0.25,0.25
8,0.25,0.25,7a46f6dc,0.25,0.25,0.25
9,0.25,0.25,7a4ae9f4,0.25,0.25,0.25

In [27]:
submission_format = pd.read_csv(join('..', '..', 'data', 'submission_format.csv'))

In [30]:
df_ids.append(submission_format).drop_duplicates('id', keep=False)

,concrete_cement,healthy_metal,id,incomplete,irregular_metal,other
686,0.9,0.0,7a451c90,0.0,0.0,0.0
732,0.9,0.0,7a4efc74,0.0,0.0,0.0
1931,0.9,0.0,7a4d32b8,0.0,0.0,0.0
2217,0.9,0.0,7a4ec4ac,0.0,0.0,0.0
2324,0.9,0.0,7a46856c,0.0,0.0,0.0
2396,0.9,0.0,7a46f6dc,0.0,0.0,0.0
2430,0.9,0.0,7a4ae9f4,0.0,0.0,0.0
6501,0.9,0.0,7a4cb770,0.0,0.0,0.0
6632,0.9,0.0,7a4715fe,0.0,0.0,0.0
6708,0.9,0.0,7a4b8850,0.0,0.0,0.0

In [32]:
final_sorted = final.set_index('id')
final_sorted = final_sorted.reindex(index=submission_format['id'])
final_sorted = final_sorted.reset_index()

In [ ]:
df_ids.append(submission_format).drop_duplicates('id', keep=False)